/**
 * Created with JetBrains WebStorm.
 * User: Administrator
 * Date: 14-10-23
 * Time: 上午9:56
 * To change this template use File | Settings | File Templates.
 */

/*media queries*/
@media (max-width: 320px) {
    html {
        font-size: 75%;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    html {
        font-size: 87.5%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    html {
        font-size: 93.5%;
    }
}

@media (min-width: 480px) and (max-width: 540px) {
    html {
        font-size: 100%;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    html {
        font-size: 112%;
    }
}

@media (min-width: 720px) and (max-width: 960px) {
    html {
        font-size: 130%;
    }
}

@media (min-width: 960px) {
    html {
        font-size: 150%;
    }
}

/*reset style*/
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, menu, li, p, blockquote, pre, hr, table, caption, thead, tbody, tfoot, th, td, form, fieldset, legend, input, button, textarea {
    margin: 0;
    padding: 0;
}

body, textarea, input, button, select, keygen, legend {
    font: 1rem/1.5em normal "微软雅黑", arial;
    color: #333;
    outline: none;
}

body {
    background: #fff;
}

fieldset, img, iframe, abbr {
    border: none;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

ul, dl, dt, dl, li {
    list-style: none;
}

li {
    vertical-align: top;
    list-style-position: outside;
}

q {
    font-style: normal;
    font-variant: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    text-align: left;
    font-weight: normal;
}

sup, sub {
    font-size: 83%;
}

pre, code, kbd, samp {
    font-family: inherit;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}

del, ins, u, s, a, a:hover {
    text-decoration: none;
}

a, a:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

a, button {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
    resize: none;
    overflow: auto;
}

/*fr_header*/
.fr_header {
    text-align: center;
    height: 3.21rem;
    line-height: 3.21rem;
    width: 100%;
    border-bottom: 1px solid #ACACAC;
}

.fr_header em {
    font-size: 1.36rem;
}

.fr_header img {
}

.fr_header > .icon_return {
    position: absolute;
    color: #FD472B;
    left: 1rem;
    font-size: 1.14rem;
}

.fr_header > .icon_return > img {
    margin-right: 0.3rem;
    width: 0.79rem;
    height: 1.36rem;
    position: relative;
    top: 0.29rem;
}

.fr_header > .icon_info {
    position: absolute;
    right: 1rem;
}

.fr_header > .icon_info > img {
    height: 1.71rem;
    position: relative;
    top: 0.5rem;
}

/*fr_wrap*/
.fr_wrap {

}

.progress-bar {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.21rem;
    line-height: 3.21rem;
    font-size: 1.21rem;
    color: white;
    background: #888;
}

.progress-bar > div.time {
    z-index: 2;
}

.progress-bar > div.progress {
    width: 0;
    height: 100%;
    background: #ff0000;
}

.progress-bar > .label {
    position: absolute;
    top: 0;
    width: 100%;
}

.desc-pop {
    border-radius: 20px;
    background: #f2f2f2;
    z-index: 1000;
    width: 19.3rem;

}

.user_shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3000px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 100;
}

.desc-pop > .headLine {
    text-align: center;
    margin-top: 1.43rem;
    font-size: 1.29rem;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
}

.desc-pop > .content {
    padding: 1rem;
    padding-bottom: 3.43rem;
    border-bottom: 1px solid #9EA1A1;
}

.desc-pop > .content > p {
    font-size: 1.14rem;
    line-height: 1.79rem;
}

.desc-pop > .btnBar {
    line-height: 3.14rem;
    height: 3.14rem;
    text-align: center;
    font-size: 1.3rem;
}

.desc-pop > .btnBar > a {
    color: #157efb;
}

.posNum1{background-image:url(../images/signUpImg1.png);background-color:#ff5944;}
.posNum2{background-image:url(../images/signUpImg2.png);background-color:#ffa044;}
.posNum3{background-image:url(../images/signUpImg3.png);background-color:#ffd63d;}
.posNum4{background-image:url(../images/signUpImg4.png);background-color:#abd14b;}
.posNum5{background-image:url(../images/signUpImg5.png);background-color:#00c6ff;}
.posNum6{background-image:url(../images/signUpImg6.png);background-color:#9b66ea;}

.ddBox{
    width:90px;
    height:90px;
    border-radius:5px;
    background-repeat:no-repeat;
    background-size:64px auto;
    background-position:50% 50%;
}

/*fr_footer*/
.fr_footer {

}

/**
 * Module style
 * help
 */
