.numbers {
    display: block;
    padding: 6px 3px;
    height: 62px;
    line-height: 50px;
    border-radius: 5px;
    background: #BBB;
    text-align: center;
    color: #FFF;
    font-size: 0;
}
.numbers1 {
    height: 53px;
}
.numbers > span {
    background: url("../../images/number/groupon_bg.png") no-repeat 0 0;
    
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 0 2px;
    width: 34px;
    height: 62px;
    font-size: 36px;
    border-radius: 5px;
}
.numbers1 > span {
    background: url("../../images/number/groupon_bg1.png") no-repeat 0 0;
    width: 32px;
    height: 53px;
}
.numbers > span.symbol {
    background: none;
    width: 8px;
    overflow: hidden;
    font-size: 30px;
    line-height: 62px;
    color: #333;
}
.numbers > span > .num {
    display: block;
}
.numbers > span.symbol > .num {
    display: none;
}
.numbers > span > .symbol {
    display: none;
}
.numbers > span.symbol > .symbol {
    display: block;
}

.numbers > span > .num {
    display: block;
    margin: 6px auto;
    font-size: 0;
    
    display: inline-block;
    background: url('../../images/number/bg_pricenum.png') no-repeat 0 0;
    display: block;
    margin: 6px auto;
    width: 30px;
    height: 50px;
    font-size: 0;
}
.numbers1 > span > .num {
    height: 41px;
    width: 28px;
    background: url('../../images/number/bg_pricenum1.png') no-repeat 0 0;
}



