@charset "UTF-8";
.timeline {
  font-size: 12px;
  background: #fff4dd;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 77px;
  border-bottom: 1px solid #d8d0c7;
}
.timeline > .nav {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 29px;
  top: 21px;
  cursor: pointer;
}
.timeline > .nav-prev {
  background: url("http://127.0.0.1:8020/jQuerySkills/images/timeline/time-arrow.png") no-repeat 0 -29px;
  left: 19px;
  margin-right: 8px;
}
.timeline > .nav-prev:hover {
  background-position: 0 0;
}
.timeline > .nav-next {
  background: url("http://127.0.0.1:8020/jQuerySkills/images/timeline/time-arrow.png") no-repeat 0 -87px;
  right: 19px;
  margin-left: 8px;
}
.timeline > .nav-next:hover {
  background-position: 0 -58px;
}
.timeline > .scroll {
  position: absolute;
  overflow: hidden;
  left: 43px;
  width: 904px;
  height: 77px;
}
.timeline > .scroll > .list {
  position: absolute;
  width: 2000px;
}
.timeline > .scroll > .list > .item {
  position: relative;
  float: left;
  width: 120px;
}
.timeline > .scroll > .list > .item > .link {
  cursor: pointer;
  text-align: center;
  float: left;
  color: #7d521d;
  text-decoration: none;
  display: inline-block;
  width: 70px;
}
.timeline > .scroll > .list > .item > .link > .time {
  display: inline-block;
  width: 52px;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  margin: 12px 0 10px 0;
  border-radius: 3px;
}
.timeline > .scroll > .list > .item > .link > .label {
  display: block;
}
.timeline > .scroll > .list > .item > i {
  position: absolute;
  width: 50px;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 1px solid #cfa370;
  display: block;
  right: 0;
  top: 23px;
}
.timeline > .scroll > .list > .item-prev > .link:hover > .time {
  background: #ffba58;
  color: #FFF;
}
.timeline > .scroll > .list > .item-prev > .link-selected > .time {
  background: #f6a83a;
  color: #FFF;
}
.timeline > .scroll > .list > .item-prev > .link-selected:hover > .time {
  background: #f6a83a;
}
.timeline > .scroll > .list > .item-now > .link {
  color: #d03a21;
}
.timeline > .scroll > .list > .item-now > .link:hover > .time {
  background: #d03a21;
  color: #FFF;
}
.timeline > .scroll > .list > .item-now > .link-selected > .time {
  background: #d03a21;
  color: #FFF;
}
.timeline > .scroll > .list > .item-now > .link-selected:hover > .time {
  background: #d03a21;
}
.timeline > .scroll > .list > .item-next > .link {
  color: #559819;
}
.timeline > .scroll > .list > .item-next > .link:hover > .time {
  background: #69cb43;
  color: #FFF;
}
.timeline > .scroll > .list > .item-next > .link-selected > .time {
  background: #46b807;
  color: #FFF;
}
.timeline > .scroll > .list > .item-next > .link-selected:hover > .time {
  background: #46b807;
}
.timeline > .scroll > .list > .item-next > i {
  border-color: #559819;
}
.timeline > .scroll > .list > .item:last-child {
  width: 70px;
}
.timeline > .scroll > .list > .item:last-child i {
  display: none;
}
.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
