@charset "UTF-8";

@width: 1000px;
@height: 77px;

@item-width: 120px;
@lable-width: 70px;
@line-width: 50px;

@bg-color: #fff4dd;
@line-color: #cfa370;

@imgPath: '../../images/timeline';
.timeline {
  font-size: 12px;
  background: @bg-color;
  
  margin: 0 auto;
  position: relative;
  width: @width;
  height: @height;
  border-bottom: 1px solid #d8d0c7;
  
  > .nav {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 29px;
    top: 21px;
    cursor: pointer;
  }  
  > .nav-prev {
    background: url("@{imgPath}/time-arrow.png") no-repeat 0 -29px;
    left: 19px;
    margin-right: 8px;
    
    &:hover {
      background-position: 0 0;
    }
  }
  > .nav-next {
    background: url("@{imgPath}/time-arrow.png") no-repeat 0 -87px;
    right: 19px;
    margin-left: 8px;
    &:hover {
      background-position: 0 -58px;
    }
  }
  > .scroll {
    position: absolute;
    overflow: hidden;
    left: 43px;
    width: @width - 43px * 2 - 10;
    height: @height;
    > .list {
      position: absolute;
      width: 2000px;
      > .item {
        position: relative;
        float: left;
        width: @item-width;
        
        > .link {
          cursor: pointer;
          text-align: center;
          float: left;
          color: #7d521d;
          text-decoration: none;
          display: inline-block;
          width: @lable-width;
          > .time {
            display: inline-block;
            width: 52px;
            height: 22px;
            line-height: 22px;
            font-style: normal;
            margin: 12px 0 10px 0;
            border-radius: 3px;
          }
          > .label {
            display: block;
          }
        }
        > i {
          position: absolute;
          width: @line-width;
          height: 0;
          line-height: 0;
          font-size: 0;
          border: 1px solid @line-color;
          display: block;
          right: 0;
          top: 23px;
        }
      }
      > .item-prev {
        > .link {
            &:hover {
              > .time {
                background: #ffba58;
                color: #FFF;
              }
            }
        }
        > .link-selected {
          > .time {
              background: #f6a83a;
              color: #FFF;
          }
          &:hover {
            > .time {
              background: #f6a83a;
            }
          }
        }
      }
      > .item-now {
        > .link {
            color: #d03a21;
            &:hover {
              > .time {
                background: #d03a21;
                color: #FFF;
              }
            }
        }
        > .link-selected {
          > .time {
            background: #d03a21;
            color: #FFF;
          }
          &:hover {
            > .time {
              background: #d03a21;
            }
          }
        }
      }
      > .item-next {
        > .link {
          color: #559819;
          &:hover {
            > .time {
              background: #69cb43;
              color: #FFF;
            }
          }
        }
        > .link-selected {
          > .time {
              background: #46b807;
              color: #FFF;
          }
          &:hover {
            > .time {
              background: #46b807;
            }
          }
        }
        > i {
          border-color: #559819;
        }
      }
      > .item:last-child {
        width: @lable-width;
        i {
          display: none;
        }
      }
    }
  }
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}
