@charset "UTF-8";
.timeline1 {
  position: absolute;
  left: -97px;
  top: 112px;
  margin-top: 64px;
  background: url("../../images/timeline/line.png") repeat-y 96% 0;
  width: 92px;
}
.timeline1 > ul > li {
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  display: block;
  text-align: right;
  font-size: 14px;
  color: #666;
}
.timeline1 > ul > li > .default > .tag {
  line-height: 19px;
  padding: 3px;
  margin: 0 17px 0 0;
  text-align: right;
}
.timeline1 > ul > li > .default > .tag > .time {
  display: block;
}
.timeline1 > ul > li > .default > .tag > .label {
  display: none;
}
.timeline1 > ul > li > .default > .circle {
  width: 8px;
  height: 10px;
  background: url("../../images/timeline/timeline.png") no-repeat 0 -172px;
  position: absolute;
  right: 0;
  top: 11px;
  margin-top: -4px;
}
.timeline1 > ul > li > .selected > .tag {
  text-align: center;
  position: relative;
  padding: 1px 5px 5px 5px;
  margin: 0 20px 0 0;
  background: #d03a24;
  border-radius: 2px;
}
.timeline1 > ul > li > .selected > .tag > .time {
  line-height: 29px;
  color: #FFF;
  font-size: 22px;
}
.timeline1 > ul > li > .selected > .tag > .label {
  line-height: 16px;
  color: #FFF;
  display: block;
  font-size: 12px;
}
.timeline1 > ul > li > .selected > .tag > .pointer {
  position: absolute;
  right: -10px;
  top: 23px;
  width: 4px;
  height: 7px;
  background: url("../../images/timeline/timeline.png") no-repeat 0 -192px;
  margin-right: 6px;
}
.timeline1 > ul > li > .selected > .circle {
  width: 10px;
  height: 14px;
  background: url("../../images/timeline/timeline.png") no-repeat 0 -126px;
  position: absolute;
  top: 20px;
  right: 0;
}
.timeline1 > ul > li > .hover {
  margin-bottom: 5px;
}
.timeline1 > ul > li > .hover > .tag {
  text-align: center;
  position: relative;
  padding: 0 5px;
  margin: 0 20px 0 0;
  background: #d03a24;
  border-radius: 2px;
}
.timeline1 > ul > li > .hover > .tag > .time {
  line-height: 26px;
  color: #FFF;
  font-size: 20px;
}
.timeline1 > ul > li > .hover > .tag > .pointer {
  position: absolute;
  right: -10px;
  top: 10px;
  width: 4px;
  height: 7px;
  background: url("../../images/timeline/timeline.png") no-repeat 0 -192px;
  margin-right: 6px;
}
.timeline1 > ul > li > .hover > .label {
  line-height: 16px;
  display: block;
  font-size: 12px;
  color: #d13f2a;
  text-align: center;
  width: 73px;
  margin: 1px 19px 0 0;
}
.timeline1 > ul > li > .hover > .circle {
  width: 8px;
  height: 12px;
  background: url("../../images/timeline/timeline.png") no-repeat 0 -150px;
  position: absolute;
  top: 8px;
  right: 0;
}
.timeline1 > ul > .default > .default {
  display: block;
}
.timeline1 > ul > .default > .hover,
.timeline1 > ul > .default > .selected {
  display: none;
}
.timeline1 > ul > .selected > .selected {
  display: block;
}
.timeline1 > ul > .selected > .hover,
.timeline1 > ul > .selected > .default {
  display: none;
}
.timeline1 > ul > .hover > .hover {
  display: block;
}
.timeline1 > ul > .hover > .selected,
.timeline1 > ul > .hover > .default {
  display: none;
}
.timeline1 > .end {
  background: #ffdba6;
  color: #d05b21;
  font-size: 12px;
  text-align: center;
  width: 74px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  margin-top: 50px;
}
