@charset "UTF-8";

@outerBorderWidth: 2px;
@outerBorderColor: #e3e3e3;
@outerBorderColorHighlight: #13ba00;

@innerrBorderWidth: 1px;
@innerBorderColor: #f7f7f7;

@cellWidth: 48px;

@dayBackColor: #ededed;
@dayFontSize: 12px;
@daysHeight: 20px;

@dateBackColor: #FFF;
@dateHighlightBC: #d5f3d2;
@dateFontSize: 12px;
@dateFontColor: #666;
@dateNotCurrentMonthFontColor: #ccc;
@dateHeight: 35px;
@todayBackColor: #ffc9c9;
@todayHighlightBorderWidth: 2px;
@todayHighlightBorderColor: #f7b4b4;
@datePassedBC: #f3f3f3;

@headerHeight: 26px;
@titleFontSize: 14px;

@imgPath: '../../images/calendar';

.c-calendar {
  text-align: center;
  border-collapse: collapse;
  
  .row {
    > .cell {
      padding: 0;
      margin: 0;
      border: 1px solid @innerBorderColor;
    }
    > .cell:first-child {
      border-left: @outerBorderWidth solid @outerBorderColor;
    }
    > .cell-last {
      border-right: @outerBorderWidth solid @outerBorderColor;
    }
  }
  .row:first-child .cell {
    border-top: @outerBorderWidth solid @outerBorderColor;
  }
  .row-last .cell {
    border-bottom: @outerBorderWidth solid @outerBorderColor;
  }
  &:hover {
    .row {
      > .cell:first-child {
        border-left: @outerBorderWidth solid @outerBorderColorHighlight; 
      }
      > .cell-last {
        border-right: @outerBorderWidth solid @outerBorderColorHighlight; 
      }
    }
    .row:first-child .cell {
      border-top: @outerBorderWidth solid @outerBorderColorHighlight; 
    }
    .row-last .cell {
      border-bottom: @outerBorderWidth solid @outerBorderColorHighlight; 
    }
  }
  
  .c-header {
    > .cell {
      height: @headerHeight;
      > .header {
        line-height: @titleFontSize;
        > .title {
          font-size: @titleFontSize;
          font-weight: normal;
          margin: 0;
          .time {
            display: inline;
          }
          .sub-title {
            color: #888;
          }
        }
        > .btn {
           width: 9px;
           height: 15px;
        }
        > .prev {
           float: left;
           margin-left: 10px;
           margin-left: 10px;
           &:hover {
             background: url("@{imgPath}/c_arrow_l.png") no-repeat;
           }
           background: url("@{imgPath}/c_arrow_l_light.png") no-repeat;
        }
        > .next {
           float: right;
           margin-right: 10px;
           &:hover {
             background: url("@{imgPath}/c_arrow_r.png") no-repeat;
           }
           background: url("@{imgPath}/c_arrow_r_light.png") no-repeat;
        }
      }
    }
  }
  .row-days {
    > .cell {
      height: @daysHeight;
      background-color: @dayBackColor;
      font-size: @dayFontSize;
    }
  }
  .row-dates {
    > .cell {
      background: @dateBackColor;
      font-size: @dateFontSize;
      color: @dateFontColor;
      
      &:hover {
        background: @dateHighlightBC;
      }
      
      .tile {
        width: @cellWidth;
        height: @dateHeight;
        line-height: @dateHeight;
      }
    }
    > .cell-today {
      background-color: @todayBackColor;
      &:hover {
        background-color: @todayBackColor;
        .tile {
          width: @cellWidth - @todayHighlightBorderWidth * 2;
          height: @dateHeight - @todayHighlightBorderWidth * 2;
          line-height: @dateHeight - @todayHighlightBorderWidth * 2;
          border: @todayHighlightBorderWidth solid @todayHighlightBorderColor;
        }
      }
    }
    > .cell-notCurrentMonth {
      color: @dateNotCurrentMonthFontColor;
    }
    > .cell-passed {
      background-color: @datePassedBC;
    }
    > .cell-inactive { /*不在活动期*/
      &:hover {
        background: @dateBackColor;
      }
      color: gray;
    }
  }
  
}

