@charset "UTF-8";
.calendar {
  width: 346px;
  height: 266px;
  position: relative;
}
.outer-border {
  width: 344px;
  border: 1px solid #ffffff;
}
.outer-border:hover {
  padding: 0;
  border-color: #13ba00;
}
.c-calendar {
  width: 344px;
  text-align: center;
  border: 1px solid #e3e3e3;
}
.c-calendar:hover {
  border: 1px solid #13ba00;
}
.c-calendar .row > .cell {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid #f7f7f7;
  border-bottom: none;
  border-right: none;
}
.c-calendar .row > .cell:first-child {
  border-left: none;
}
.c-calendar .row > .cell-last {
  border-right: none;
}
.c-calendar .row:first-child .cell {
  border-top: none;
}
.c-calendar .row-last .cell {
  border-bottom: none;
}
.c-calendar:hover .row > .cell:first-child {
  border-left: none;
}
.c-calendar:hover .row > .cell-last {
  border-right: none;
}
.c-calendar:hover .row:first-child .cell {
  border-top: none;
}
.c-calendar:hover .row-last .cell {
  border-bottom: none;
}
.c-calendar .c-header > .cell {
  height: 25px;
}
.c-calendar .c-header > .cell > .header {
  line-height: 14px;
}
.c-calendar .c-header > .cell > .header > .title {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}
.c-calendar .c-header > .cell > .header > .title .time {
  font-weight: bold;
  display: inline;
}
.c-calendar .c-header > .cell > .header > .title .sub-title {
  color: #888;
}
.c-calendar .c-header > .cell > .header > .btn {
  padding: 0;
  cursor: pointer;
  width: 9px;
  height: 15px;
  background: url("../../images/calendar/calendar.png") no-repeat;
}
.c-calendar .c-header > .cell > .header > .prev {
  float: left;
  margin-left: 10px;
  background-position: 0px -15px;
}
.c-calendar .c-header > .cell > .header > .prev:hover {
  background-position: 0px 0px;
}
.c-calendar .c-header > .cell > .header > .next {
  float: right;
  margin-right: 10px;
  background-position: 0px -45px;
}
.c-calendar .c-header > .cell > .header > .next:hover {
  background-position: 0px -30px;
}
.c-calendar .row-days > .cell {
  height: 20px;
  background-color: #ededed;
  font-size: 12px;
}
.c-calendar .row-dates > .cell {
  background: #ffffff;
}
.c-calendar .row-dates > .cell:hover {
  background: #d5f3d2;
}
.c-calendar .row-dates > .cell > .tile {
  position: relative;
  width: 48px;
  height: 35px;
}
.c-calendar .row-dates > .cell > .tile .point {
  background: url("../../images/calendar/calendar.png") no-repeat;
  background-position: 0px -70px;
  position: absolute;
  width: 5px;
  height: 5px;
  top: 4px;
  right: 4px;
}
.c-calendar .row-dates > .cell > .tile .day {
  line-height: 22px;
  font-size: 14px;
  color: #333333;
}
.c-calendar .row-dates > .cell > .tile .day-full {
  line-height: 35px;
}
.c-calendar .row-dates > .cell > .tile .status {
  line-height: 10px;
  font-size: 10px;
  color: #d03a24;
  margin: 0;
}
.c-calendar .row-dates > .cell > .tile .status-nega {
  color: #109f00;
}
.c-calendar .row-dates > .cell-today {
  background-color: #ffc9c9;
}
.c-calendar .row-dates > .cell-today > .tile {
  border: 2px solid #ffc9c9;
  width: 44px;
  height: 31px;
}
.c-calendar .row-dates > .cell-today > .tile .day {
  margin-top: -2px;
}
.c-calendar .row-dates > .cell-today > .tile .point {
  top: 2px;
  right: 2px;
}
.c-calendar .row-dates > .cell-today:hover {
  background-color: #ffc9c9;
}
.c-calendar .row-dates > .cell-today:hover > .tile {
  border: 2px solid #f7b4b4;
}
.c-calendar .row-dates > .cell-notCurrentMonth > .tile .day {
  color: #cccccc;
}
.c-calendar .row-dates > .cell-active > .tile .day {
  color: #333333;
}
.c-calendar .row-dates > .cell-inactive {
  /*不在活动期*/
}
.c-calendar .row-dates > .cell-inactive > .tile .day {
  color: #cccccc;
}
.c-calendar .row-dates > .cell-inactive:hover {
  background: #ffffff;
}
.c-calendar .row-dates > .cell-passed {
  background-color: #f3f3f3;
}
.c-calendar .row-dates > .cell-passed > .tile .status {
  color: #888888;
  /*已经结束的都显示灰色*/
}
.c-detail {
  display: none;
  position: absolute;
  width: 278px;
  background-color: #13ba00;
}
.c-detail > h4 {
  position: relative;
  margin: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.c-detail > h4 > .title {
  font-size: 14px;
  color: #FFF;
}
.c-detail > h4 .p-l,
.c-detail > h4 .p-r {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../../images/calendar/calendar.png") no-repeat;
  background-position: 0px -60px;
}
.c-detail > h4 .p-l {
  left: 32px;
  top: 16px;
}
.c-detail > h4 .p-r {
  right: 32px;
  top: 16px;
}
.c-detail > .content {
  padding: 8px 20px 10px 20px;
  background-color: #FFF;
  margin: 0 6px 6px 6px;
}
.c-detail > .content > .p-less > p.money {
  height: 31px;
  line-height: 31px;
}
.c-detail > .content > .p-less > p.money > .m {
  margin-right: 5px;
  font-size: 24px;
  color: #d03a24;
}
.c-detail > .content > .p-less > p.money > .u {
  font-size: 14px;
  color: #000;
}
.c-detail > .content > .p-less > p.x {
  line-height: 14px;
  font-size: 12px;
  color: #333;
}
.c-detail > .content > .p-less > p.x em {
  font-style: normal;
  color: #d03a24;
}
.c-detail > .content > .p-more {
  margin-top: 9px;
}
.c-detail > .content > .p-more > .pride-list > li {
  line-height: 19px;
  font-size: 12px;
  color: #333;
}
.c-detail > .content > .p-more > .img-list {
  width: 100%;
  margin-top: 3px;
}
.c-detail > .content > .p-more > .img-list li {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.c-detail > .content > .p-more > .img-list li img {
  display: block;
  width: 40px;
  height: 40px;
}
.c-detail > .content > .p-more > .pride-time {
  margin-top: 21px;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}
.c-detail > .content-less > .p-more {
  display: none;
}
.c-detail > .content-more > .p-less {
  padding-bottom: 7px;
  border-bottom: 1px solid #e5e5e5;
}
.c-detail > .content-more > .p-more {
  display: block;
}
