@charset "UTF-8";

@outerBorderWidth: 2px;
@outerBorderColor: #e3e3e3;
@outerBorderColorHighlight: #13ba00;

@innerrBorderWidth: 1px;
@innerBorderColor: #f7f7f7;

@cellWidth: 48px;

@dayBackColor: #ededed;
@dayFontSize: 12px;
@daysHeight: 20px;

@dateBackColor: #FFF;
@dateHighlightBC: #d5f3d2;
@dateFontSize: 12px;
// @dateFontColor: #666;
@dateFontColor: #000;
@dateNotCurrentMonthFontColor: #ccc;
@dateHeight: 34px;
@todayBackColor: #ffc9c9;
@todayHighlightBorderWidth: 2px;
@todayHighlightBorderColor: #f7b4b4;
@datePassedBC: #f3f3f3;

@headerHeight: 26px;
@titleFontSize: 14px;

@imgPath: '../../images/calendar';

ul, li, div, p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.clearfix:after, #content:after {
    content: "\0020";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
}

.clearfix {
    zoom: 1;
}

.c-calendar {
  text-align: center;
  border-collapse: collapse;
  border: @outerBorderWidth solid @outerBorderColor;
  &:hover {
    border: @outerBorderWidth solid @outerBorderColorHighlight;
  }
  .row {
    > .cell {
      padding: 0;
      margin: 0;
      border: 1px solid @innerBorderColor;
    }
    > .cell:first-child {
      border-left: none;
    }
    > .cell-last {
      border-right: none;
    }
  }
  .row:first-child .cell {
    border-top: none;
  }
  .row-last .cell {
    border-bottom: none;
  }
  &:hover {
    .row {
      > .cell:first-child {
        border-left: none;
      }
      > .cell-last {
        border-right: none;
      }
    }
    .row:first-child .cell {
      border-top: none;
    }
    .row-last .cell {
      border-bottom: none;
    }
  }
  
  .c-header {
    > .cell {
      height: @headerHeight;
      > .header {
        line-height: @titleFontSize + 2;
        > .title {
          font-size: @titleFontSize;
          font-weight: normal;
          margin: 0;
          .time {
            font-weight: bold;
            display: inline;
          }
          .sub-title {
            color: #888;
          }
        }
        > .btn {
           cursor: pointer;
           width: 9px;
           height: 15px;
        }
        > .prev {
           float: left;
           margin-left: 10px;
           margin-left: 10px;
           &:hover {
             background: url("@{imgPath}/c_arrow_l.png") no-repeat;
           }
           background: url("@{imgPath}/c_arrow_l_light.png") no-repeat;
        }
        > .next {
           float: right;
           margin-right: 10px;
           &:hover {
             background: url("@{imgPath}/c_arrow_r.png") no-repeat;
           }
           background: url("@{imgPath}/c_arrow_r_light.png") no-repeat;
        }
      }
    }
  }
  .row-days {
    > .cell {
      height: @daysHeight;
      background-color: @dayBackColor;
      font-size: @dayFontSize;
    }
  }
  .row-dates {
    > .cell {
      background: @dateBackColor;
      
      &:hover {
        background: @dateHighlightBC;
      }
      
      .tile {
        position: relative;
        width: @cellWidth;
        height: @dateHeight;
        .point {
          background: url("@{imgPath}/red.png") no-repeat;
          position: absolute;
          width: 5px;
          height: 5px;
          
          top: 4px;
          right: 4px;
        }
        .day {
          line-height: 22px;
          font-size: 14px;
          color: @dateFontColor;
          margin: 0;
        }
        .status {
          line-height: 10px;
          font-size: 10px;
          color: #d03a24;
          margin: 0;
        }
        .status-gray {
          color: #888;
        }
      }
    }
    > .cell-today {
      background-color: @todayBackColor;
      .tile {
        border: @todayHighlightBorderWidth solid @todayBackColor;
        width: @cellWidth - @todayHighlightBorderWidth * 2;
        height: @dateHeight - @todayHighlightBorderWidth * 2;
        .day {
          line-height: 22px - @todayHighlightBorderWidth;
        }
      }
      &:hover {
        background-color: @todayBackColor;
        .tile {
          border: @todayHighlightBorderWidth solid @todayHighlightBorderColor;
        }
      }
    }
    > .cell-notCurrentMonth {
      .tile {
        .day {
          color: @dateNotCurrentMonthFontColor;
        }
      }
    }
    > .cell-passed {
      background-color: @datePassedBC;
    }
    > .cell-inactive { /*不在活动期*/
      &:hover {
        background: @dateBackColor;
      }
      color: gray;
    }
  }
}

.c-detail {
  display: none;
  position: absolute;
  width: 278px;
  background-color: #13ba00;
  > h4 {
    position: relative;
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
  
    >.title {
      font-size: 14px;
      color: #FFF;
    }
    .p-l, .p-r {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: url("@{imgPath}/green.png");
    }
    .p-l {
      left: 32px;
      top: 16px;
    }
    .p-r {
      right: 32px;
      top: 16px;
    }
  }
  >.content {
    padding: 15px 20px;
    background-color: #FFF;
    margin: 0 5px 5px 5px;
    > .p-less {
      > p {
        margin: 0;
        > .m {
          font-size: 24px;
          color: #d03a24;
        }
        > .u {
          font-size: 14px;
          color: #000;
        }
      }
      > p.x {
        font-size: 12px;
        color: #333;
        em {
          color: #d03a24;
        }
      }
    }
    > .p-more {
      margin-top: 10px;
      > .pride-list > li {
        line-height: 18px;
        font-size: 12px;
        color: #333;
      }
      > .img-list > li {
        float: left;
        margin-right: 5px;
        margin-top: 10px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .pride-time {
        margin-top: 10px;
        font-size: 12px;
        color: #666;
      }
    }
  }
  > .content-less {
    > .p-more {
      display: none;
    }
  }
  >.content-more {
    padding-bottom: 10px;
    > .p-less {
      padding-bottom: 8px;
      border-bottom: 1px solid #e5e5e5;
    }
    > .p-more {
      display: block;
    }
  }
}

